/* TODO Add site wide styles */
*{
    margin: 0px;
}
body{
    height: 100%;
}
/* Signup Page */
.SignupPage{
    background-color: rgb(21,82,240);
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}

.SignupPage__Title{
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 25px;
}

.SignupPage__Form{
    background-color: white;
    height: 400px;
    width: 400px;
    margin: 0 auto;
    padding: 25px;
    border-radius: 5px;
}

.SigninPage__Form{
    background-color: white;
    height: 200px;
    width: 400px;
    margin: 0 auto;
    padding: 25px;
    border-radius: 5px;
}

.PricesPage__SearchBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.PricesPage__Results--Header{
    display: flex;
    height: 71px;
    border: 1px solid lightgrey;
    align-items: center;
    justify-content: space-between;
}

.PricesPage__Results--Header-Container{
    display: flex;
}

.PricePage__Results--Header-Container2{
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.PricePage__Results--Header-numbersign{
    padding-left: 32px;
    padding-right: 48px;
}

.PricePage__Results--Header-Marketcap{
    margin-right: 17px;
    width: 39%;
}

.PricePage__Results--Header-Change{
    margin-left: 26px;
    width: 20%;

}

.PricePage__Results--Header-Price{
    /* padding-right: 45px; */
    width: 26%;
}

.PricesPage__Results{
    padding: 24px;
}

.Coin{
    display: flex;
    height: 71px;
    border: 1px solid lightgrey;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.Coin__identifiers{
    display: flex;
    align-items: center;
}

.Coin__identifiers--number{
    padding-left: 32px;
    padding-right: 48px;
}

.Coin__identifiers--image{
    height: 36px;
    width: 36px;
}

.Coin__identifiers--name{
    padding-left: 16px;
    font-weight: 400;
}

.Coin__identifiers--symbol{
    padding-left: 16px;
    color: #11335399
}

.Coin__financials{
    display: flex;
    width: 40%;
}

.Coin__financials--marketcap{
    font-size: 18px;
    margin-right: 48px;
    width: 35%;
}

.Coin__financials--change{
    font-size: 18px;
    margin-right: 30px;
    width: 18%;
}

.Coin__financials--price{
    font-size: 18px;
    margin-right: 40px;
    font-weight: bold;
    width: 28%;
}

.CoinPageContainer1{
    display: flex;
}

.CoinPageContainer{
    padding: 48px;
    border: 1px solid black;
    width: 100%;
}

.CoinPageContainer__topheader{
    display: flex;
}

.CoinPageContainer__mainheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 32px 0px;
}

.CoinPageContainer__mainheader--image{
    height: 46px;
    width: 46px;
    margin-right: 24px;
}

.CoinPageContainer__mainheader--nameprice{
    font-size: 32px;
    font-weight: 500;
    margin-right: 24px;
}

.CoinPageContainer__mainheader--symbol{
    color: rgba(17,51,83,0.6);
}

.CoinPageContainer__mainheader--leftside{
    display: flex;
    align-items: center;
}

.CoinPageContainer__CoinDetails{
    display: flex;
    justify-content: space-between;
    border-top: 1px lightgrey solid;
    border-left: 1px lightgrey solid;
    border-right: 1px lightgrey solid;
    border-bottom: 1px lightgrey solid;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 8px 24px;
    width: 80%;
}

.CoinPageContainer__CoinDetails--marketcap{
    margin: 14px 0px;
}

.CoinPageContainer__CoinDetails--volume{
    margin: 14px 0px;
}

.CoinPageContainer__CoinDetails--circulatingsupply{
    margin: 14px 0px;
}

.CoinPageContainer__CurrentPrice{
    padding: 24px;
    width: 80%;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.CoinPageContainer__CurrentPrice--price{
    font-size: 32px;
    margin-right: 15px;
}

.CoinPageContainer__graph{
    /* justify-content: space-between; */
    width: 80%;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

.CoinPageContainer__graph--chart{
    width: 100%;
}

.CoinPage__buy--layer1{
    display: flex;
}

.CoinPage__transactions{
    border: 2px solid black;
    border-radius: 5px;
    height: 200px;
    width: 300px;

}

.CoinPage__transactiontabs{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 300px;
}

.CoinPage__transactions--usd{
    display: flex;
    justify-content: space-between;
}

.CoinPage__transactions--cost{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.CoinPage__transactions--orderbutton{
    display: flex;
    justify-content: center;
}

.Homepage__maincontent{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.Homepage__maincontent--header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Homepage__maincontent--header1{
    font-size: 48px;
    font-weight: 800;
}

.Homepage__maincontent--header2{
    font-size: 16px;
}

.Homepage__maincontent--image{
    height: 600px;
    width: 300px;
}

.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid black;
}

.Navbar__logo{
    height: 65px;
    width:  120px;
    padding-left: 10px;
}

.Navbar__signoutbutton{
    height: 50px;
    width: 75px;
    border-radius: 5px;
    background-color: rgb(21,82,240);
    color: white;
    cursor: pointer;
}

.Navbar__signinbutton{
    height: 50px;
    width: 75px;
    border-radius: 5px;
    background-color: rgb(21,82,240);
    color: white;
    cursor: pointer;
}

.Navbar__signupbutton{
    height: 50px;
    width: 75px;
    border-radius: 5px;
    background-color: rgb(21,82,240);
    margin: 10px;
    color: white;
    cursor: pointer;
}


.Navbar__groupedbuttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
}

.Navbar__priceslink{
    font-size: 28px;
    font-weight: 700;
}

.Transaction__Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    height: 100px;
    width: 55%;
}

.Portfolio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    /* width: 25%; */
    border: 1px solid black;
}

.Portfolio__amount{

}

.Portfolio__graph{
    color: green;
}

.Portfolio__price{
    font-weight: bold
}

.AddMoney{
    width: 70%;
}

.AddMoney__amounts{
    display: flex;
    justify-content: space-around;
}

.Dashboard{
    display: flex;
    padding: 84px;
}

.Dashboard__Main{
    width: 500px;
    border: 1px solid green;
}

.LineChart{
    width: 70%;
}

.Dashboard{
    display: flex;
    justify-content: space-between;
}

.small-input{
    height: 10px;
    width: 100px;
    padding: 15px;
}

.buy_tab{
    height: 50px;
    width: 50px;
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 20px;
    cursor: pointer;
}

.sell_tab{
    height: 50px;
    width: 50px;
    padding-right: 5px;
    padding-top: 10px;
    margin-right: 20px;
    cursor: pointer;
    text-align: center;
}

.active{
    color: blue;
    /* border-left: 1px solid lightgrey;
    border-top: 1px solid lightgrey; */
    /* border-right: 1px solid lightgrey; */
    border-bottom: 2px solid blue;
}
